<section class="hero is-hero-bar">  
  <div class="hero-body">
    <div class="level">
      <div class="level-left">
        <div class="level-item"><h1 class="big-title">Register</h1></div>
      </div>
      <div class="level-right" style="display: none;">
        <div class="level-item"></div>
      </div>
    </div>
  </div>
</section>
<%= render "form", user: @user %>
