<div class="columns">
	<div class="column">
		<h2>Noticias más relevantes</h2>
	</div>
</div>
<div class="columns">
     <div class="column is-flex">
    	<div class="is-two-thirds-mobile"><div class="button is-rounded">Recientes</div></div>
    	<div class="is-two-thirds-mobile"><div class="button is-rounded">Bitcoin</div></div>
    	<div class="is-two-thirds-mobile"><div class="button is-rounded">Ethereum</div></div>
    	<div class="is-two-thirds-mobile"><div class="button is-rounded">Dolar</div></div>
    	<div class="is-two-thirds-mobile"><div class="button is-rounded">Otras</div></div>		
     </div>
</div>