<div class="columns is-variable is-1">
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media is-justify-content-space-between">
          <div>
            <p class="title-2">Bitcoin</p>
            <p class="subtitle">BTC</p>
          </div>
          <div>
            <figure class="small-image">
              <%= image_tag "Bitcoin.png" %>
            </figure>
          </div>
        </div>
        <div class="is-flex is-justify-content-space-between">
          <div class="content">
            <p class="value">1,132,151</p>
          </div>
          <div class="percentage is-flex">
            <p class="mt-1 mr-1">2,35%</p>
            <div class="icon">
              <i class="fa-solid fa-caret-up"></i> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media is-justify-content-space-between">
          <div>
            <p class="title-2">Ethereum</p>
            <p class="subtitle">ETH</p>
          </div>
          <div>
            <figure class="small-image">
              <%= image_tag "Ethereum.png" %>
            </figure>
          </div>
        </div>
        <div class="is-flex is-justify-content-space-between">
          <div class="content">
            <p class="value">1,132,151</p>
          </div>
          <div class="percentage is-flex">
            <p class="mt-1 mr-1">2,35%</p>
            <div class="icon">
              <i class="fa-solid fa-caret-up"></i> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media is-justify-content-space-between">
          <div>
            <p class="title-2">Dolar Binance</p>
            <p class="subtitle">USD</p>
          </div>
          <div>
            <figure class="small-image">
              <%= image_tag "Binance.png" %>
            </figure>
          </div>
        </div>
        <div class="is-flex is-justify-content-space-between">
          <div class="content">
            <p class="value">1,132,151</p>
          </div>
          <div class="percentage is-flex">
            <p class="mt-1 mr-1">2,35%</p>
            <div class="icon">
              <i class="fa-solid fa-caret-up"></i> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media is-justify-content-space-between">
          <div>
            <p class="title-2">Dolar Blue</p>
            <p class="subtitle">USD</p>
          </div>
          <div>
            <figure class="small-image">
              <%= image_tag "GreenBitcoin.png" %>
            </figure>
          </div>
        </div>
        <div class="is-flex is-justify-content-space-between">
          <div class="content">
            <p class="value">1,132,151</p>
          </div>
          <div class="percentage is-flex">
            <p class="mt-1 mr-1">2,35%</p>
            <div class="icon">
              <i class="fa-solid fa-caret-up"></i> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>