html{
background-color: #f5f5f5;
}
.container{
max-width: 771px !important; 
}

.card{
height: 132px;
background: #FFFFFF;
border-radius: 19px;
}

h1{
height: 21px;
margin-top: 26px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
color: #0768B5;

}

.title{
font-family: 'Poppins', sans-serif;
font-style: Medium;
font-size: 14px;
line-height: 20px;
line-height: 95%;
text-align: left;
color: #1E1F4B;
font-weight: 500;
}

.subtitle{
height: 16px;
font-family: 'Poppins', sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #787A8D;
}

.image{
width: 36px;
}

.button{
height: 30px;
background: #FFFFFF;
border: 0.2px solid #FFFFFF;
box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
margin-right: 19px;
margin-top: 10px;
}

.button:hover{
background-color: #2F9FF8;
color: #ffffff;
transition: 0.5s;
}

h2{
height: 23px;
left: 334px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
color: #072D4B;
margin-top: 26px;
}

h3{
height: 20px;
font-family: 'Roboto', sans-serif;
font-style: bold;
font-weight: 700;
font-size: 17px;
line-height: 20px;
color: #072D4B;
}	

.details{
height: 61px;
top: 363px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
color: #072D4B;
opacity: 0.6;
margin-right: 10px;
}

.rectangle{
background-color: #ffffff;
padding: 15px;
border-radius: 4px;
}

.f22{
width: 172.35px;
height: 130px;
border-radius: 4px;
}

.small-rectangle{
height: 191px;
background: #FFFFFF;
box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
border-radius: 4px;
padding: 15px;
}

.description{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
color: #072D4B;
opacity: 0.6;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
overflow: hidden;
}

.card-title{
height: 45px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 24px;
color: #072D4B;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
overflow: hidden;
}

.card-image{
border-radius: 4px;
}

.src-date{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;
color: #072D4B;
opacity: 0.4;
}

.vector-text{
height: 22px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;
color: #0768B5;
}

.vector{
width: 16px;
height: 16px;
}


.percentage{
width: 33px;
height: 16px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #4766F9;
}

.value{
width: 74px;
height: 20px;
top: 155px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 20px;
color: #1E1F4B;
}

.control-me {
  display: none;
}

#toggle:checked ~ .control-me {
  display: block;
}