html{
	background-color: #f5f5f5;
}
.card{
width: 192px;
height: 132px;
margin-top: 25px;
background: #FFFFFF;
border-radius: 19px;
margin-right: auto;
margin-left: auto;
}

h1{
height: 21px;
margin-top: 26px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
color: #0768B5;

}

.title{
font-family: 'Poppins', sans-serif;
font-style: Medium;
font-size: 14px;
line-height: 20px;
line-height: 95%;
text-align: left;
color: #1E1F4B;
font-weight: 500;
}

.subtitle{
height: 16px;
font-family: 'Poppins', sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #787A8D;
}

.image{
width: 36px;
}

.button{
height: 30px;
background: #FFFFFF;
border: 0.2px solid #FFFFFF;
box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
margin-top: 26px;
margin-right: 19px;
}

.button:hover{
background-color: #2F9FF8;
color: #ffffff;
transition: 0.5s;
}

h2{
height: 23px;
left: 334px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
color: #072D4B;
margin-top: 26px;
}

h3{
width: 530.32px;
height: 20px;
left: 357.46px;
top: 333px;
font-family: 'Roboto', sans-serif;
font-style: bold;
font-weight: 700;
font-size: 17px;
line-height: 20px;
color: #072D4B;
}	

.details{
width: 510.94px;
height: 61px;
top: 363px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
color: #072D4B;
opacity: 0.6;
margin-right: 20px;
}

.rectangle{
background-color: #ffffff;
padding: 15px;
border-radius: 4px;
left: 334px;
width: 100%;
margin-right: auto;
margin-left: auto;
}


.f22{
width: 172.35px;
height: 130px;
left: 917.35px;
top: 333px;
border-radius: 4px;
}

.small-rectangle{
width: 376px;
height: 191px;
left: 729px;
top: 500px;
background: #FFFFFF;
box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
border-radius: 4px;
margin: 5px;
}

.description{
width: 179.87px;
height: 65px;
left: 357.37px;
top: 571px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
color: #072D4B;
opacity: 0.6;
}

.card-title{
width: 182.92px;
height: 45px;
left: 357.37px;
top: 517px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 24px;
color: #072D4B;
margin: 0;
}

.card-image{
width: 134.14px;
height: 132px;
border-radius: 4px;
}




.description-1{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
color: #072D4B;
opacity: 0.6;
}

.card-title-2{
width: 334.34px;
height: 45px;
left: 357.37px;
top: 728px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 24px;
color: #072D4B;
}

.src-date{
height: 22px;
top: 441px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;
color: #072D4B;
opacity: 0.4;
}

.vector-text{
height: 22px;
top: 441px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;
color: #0768B5;
}

.vector{
	width: 16px;
	height: 16px;
}

.footer{
	width: 335px;
	height: 46px;
	padding: 0;
	background-color: transparent;
}

.percentage{
width: 33px;
height: 16px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #4766F9;
}

.icon{
	margin-bottom: 5px;
}

.value{
width: 74px;
height: 20px;
top: 155px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 20px;
color: #1E1F4B;
}